header {
  background-color: #03a9f3;
  width: 100%;
  height: 102px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    nav {
      ul {
        list-style: none; 
        display: flex; 
        margin: 40px; 

        li {
          margin: 0 2rem; 

          a {
            text-decoration: none; 
            color: #fff;
            font-weight: 600;

            &:hover {
              color: black;
            }  
          }
        }
      }
    }
    .nav-item {
      .phone{
        margin-left: 30px; 
        cursor: pointer;
      }
      button{
        color: #fff;
        margin-left: 25px;
        width: 100px;
        height: 35px;
        background-color: rgba($color: #6e76e7, $alpha: 0.5);
        border: none;
        border-radius: 5%;

        &:hover {
          background-color: red;
        }
      }
      .burger {
        margin-left: 30px;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  nav {
    display: none; 
  }
}

// @media  and (min-width: 1024px) {
  
// }

// @media  and (min-width: 768px) and (max-width: 1023px) {
 
// }

// @media  and (max-width: 767px) {
  
// }






//////////////////////////////////////////////////////
//! 1 показував

//! 2
// const year = +prompt('Ваш рік народження: ')
// const year1 = +prompt('Поточний рік: ')
// console.log('✌️year --->',typeof year);
// console.log('✌️year2 --->',typeof year1);
// alert(year1 - year)

//! 3
// const long = +prompt('Довжина сторони квадрата: ')
// console.log('✌️year --->',typeof long);
// alert(long*4)

//! 4 не зрозумів як виконати
// const radius = +prompt('Радіус кола: ')
// console.log('✌️radius --->',typeof radius);
// alert(3.14*radius)

//! 5
// const distance = +prompt('Відстань між містами в км: ')
// const time = +prompt('Час, за який потрібно туди дістатися: ')
// const speed = distance / time;
// alert(speed + 'км/год')

//! 6
// const dollar = +prompt('Введіть кількість доларів: ')
// const kurs = 0.92;
// alert(dollar * kurs)
