<div class="container">
   <div class="bg-img"><img src="../../../assets/img/baner/img-cloud.png" alt="cloud"></div> 
   <div class="logo"><span>BlueEssaySite.net - <br></span>expert help for costum Written
   <hr>
   <p>On the other hard, we denounce with righteous indig- <br>nation and dislike men who are so beguiled and de- <br>moralized</p>
   <button>Place an order</button>
   <img src="../../../assets/img/baner/girl.png" alt="girl" class="girl">
   <div class="forms">
      <div class="item">
         <label for="type-of-paper">Type of paper</label>
         <select name="" id="type-of-paper">
            <option value="">Placeholder text</option>
         </select>
      </div>
      <div class="item">
         <label for="writer-level">Writer level</label>
         <select name="" id="writer-level">
            <option value="">High school</option>
         </select>
      </div>
      <div class="item">
         <label for="urgency">Urgency</label>
         <select name="" id="urgency">
            <option value="">21 days</option>
         </select>
      </div>
      <div class="item">
         <label for="number-of-pages">Number of pages</label>
         <input type="number" id="number-of-pages" value="2">
      </div>
      <div class="item">
         <button>Continue</button>
      </div>
   </div>
  </div>
</div>