<div class="container">
   <div class="bg-img"><img src="../../../assets/img/baner/img-cloud.png" alt="cloud"></div> 
   <div class="logo"><span>BlueEssaySite.net - <br></span>expert help for costum Written
   <hr>
   <p>On the other hard, we denounce with righteous indig- <br>nation and dislike men who are so beguiled and de- <br>moralized</p>
   <button>Place an order</button>
   <img src="../../../assets/img/baner/girl.png" alt="girl" class="girl">
   <div class="forms"></div>
   </div>
</div>