<div class="program">
    <div class="bgc">
        <img src="../../../assets/img/discounts/04-bg.png" alt="">
    </div>
    <div class="logo_3">
        <h1>Our discounts program</h1>
        <h4>By utilizing elements and principles of Material Design, we were <br> able to create a framework that incorporates </h4>
    </div>
    <div class="discounts">
        <div class="line horizontal"></div>
        <div class="line vertical"></div>
      
        <div class="box top-left">
            <div class="text-container">
                <h1><span>4% <br>OFF</span></h1>
                <p>for more than</p>
                <h6><span>15 pages</span></h6>
            </div>
        </div>
        <div class="box top-right">
            <div class="text-container">
                <h1><span>5% <br>OFF</span></h1>
                <p>for more than</p>
                <h6><span>20 pages</span></h6>
            </div>
        </div>
        <div class="box bottom-left">
            <div class="text-container">
                <h1><span>10% <br>OFF</span></h1>
                <p>for more than</p>
                <h6><span>50 pages</span></h6>
            </div>
        </div>
        <div class="box bottom-right">
            <div class="text-container">
                <h1><span>15% <br>OFF</span></h1>
                <p>for more than</p>
                <h6><span>100 pages</span></h6>
            </div>
        </div>
    </div>
      
      <div class="discounts2">
        <div class="line h"></div>
        <div class="line vertical"></div>
      </div>
</div>