<header class="contaner-fluid topnav-bg">
    <div class="container">
     <div class="row"></div> 
      <div>
        <a href="#">
          <img src="../../../assets/img/header/logo.png" alt="logo">
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="#">SERVICES</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">HOW IT WORKS</a></li>
        </ul>
      </nav>
      <div class="nav-item">
        <img src="../../../assets/img/header/phone.png" alt="phone" class="phone"></img>
        <button>About</button>
        <button>Order</button>
        <img src="../../../assets/img/header/burger.png" alt="" class="burger">
      </div>
    </div>    
</header>











<!-- <header class="contaner-fluid topnav-bg">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <a href="#">
          <img src="../../../assets/img/header/logo.png" alt="logo">
        </a>
      </div>

      <nav class="col-12 col-md-6 d-none d-md-block">
        <ul>
          <li><a href="#">SERVICES</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">HOW IT WORKS</a></li>
        </ul>
      </nav>

      <div class="col-6 col-md-3 text-end">
        <div class="d-none d-md-inline-block">
          <img src="../../../assets/img/header/phone.png" alt="phone" class="phone"></img>
          <button>About</button>
          <button>Order</button>
        </div>
        <img src="../../../assets/img/header/burger.png" alt="" class="burger">
      </div>
    </div>
  </div>
</header> -->
