<div class="container-fluid our">
    <div class="bgc">
        <img src="../../../assets/img/Our/icons_transparent.png" alt="icons">
    </div>
    <div class="logo_2">
        <h1>Advantages of Our Writing Services</h1>
    </div>
    <div class="container_cards">
        <div class="advantages">
            <div class="advantage">
                <img src="../../../assets/img/Our/02-img-1.png" alt="">
                <h3>Professionally-qualified writing experts</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
            </div>
            <div class="advantage">
                <img src="../../../assets/img/Our/02-img-2.png" alt="">
                <h3>Commitment to deliver papers by deadline</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
            </div>
            <div class="advantage">
                <img src="../../../assets/img/Our/02-img-3.png" alt="">
                <h3>Top-quality, at a great price - guaranteed</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
            </div>
        </div>
    </div> 
    <button>Place an order</button>
  </div>   
</div>