<div class="carousel-container">
    <h1>What our clients says</h1>
    <div class="carousel">
        <button class="control left">
            <img src="../../../assets/img/Testimonials/arrow.png" alt="">
        </button>
        <div class="items">
            <div class="item">
                <div class="avatar">
                    <img src="../../../assets/img/Testimonials/05-user-01.png" alt="">
                </div>
                <div class="testimonial">
                    <p class="text">Using BestEssayService.net was possibly the best choice of my academic career. Even <br> though I work full-time, I managed to submit all my assignments on time owing to the <br> broad array of services on offer. No matter what written work I needed, help was avail-<br>able. I would give a full ten marks.</p>
                    <p class="name">Larna Grey</p>
                    <p class="date">20 apr 2016 at 8:23</p>
                </div>
            </div>
        </div>
        <button class="control right">
            <img src="../../../assets/img/Testimonials/arrow-right.png" alt="">
        </button>
    </div>
</div>
